<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<div class="container" align="center">    
     <div class="jumbotron">
        <br>
        <h3 align="center">Admin Login</h3>
        <br>
       <b> Username :  </b> <input type="text" name="username" [(ngModel)]="username">
      <br>
      <br>
      <br>
      <b>Password :   </b><input type="password" name="password" [(ngModel)]="password">  
      <br>  
      <br>
    <button (click)=checkLogin() class="btn btn-success"> Login </button>
  </div>
  </div> 


