<main>
    <section id="ps" class="py-5">
       <div class="container">
             <div class="row">  
               <div class="col-md-3">
                 <a target="_blank" href="#">
                     <img src="/assets/Persistent_Systems_Logo.jpg" class="d-block img-fluid" alt="...">
                 </a>
             </div>
             <div class="col-md-9">           
                   <p class="lead text-muted">Persistent Systems is a technology services company which was incorporated on 16 May 1990 as Persistent Systems Private Limited. Persistent Systems is listed on the Bombay Stock Exchange (BSE: 533179) and the National Stock Exchange.
                       Shares in the company were listed on the National Stock Exchange of India in March 2010. The operations of Nagpur-based Infospectrum India Private, an outsourced private development of US company Infospectrum, were taken over by Persistent in February 2011.The company organizes an annual hackathon called Semicolons for its employees. The company also organizes IBM's Call for Code hackathon at its Goa, Nagpur and Pune offices.</p>
             </div>
       </div>
       </div>
   </section>
   <section id="features" class="py-5 bg-light">
       <div class="container">
           <div class="text-center py-4">
               <h1>Features</h1>
           </div>
           <div class="row">
               <div class="col-md-4 col-sm-4 mb-2">
                   <div class="box-part text-center">
                       <i class="text-primary fas fa-heart fa-3x mb-3" aria-hidden="true"></i>
                       <div class="title">
                           <h4>Careers</h4>
                       </div>
                       <div class="text mb-3">
                           <span>At Persistent, our values are more than a list of ideals to improve our corporate image. We’re dedicated to building an inclusive culture that reflects what’s important to our employees and based on what they value.</span>
                       </div>
                       <a class="btn btn-outline-primary" href="#">Learn More</a>
                   </div>
               </div>
               <div class="col-md-4 col-sm-4 mb-2">
                   <div class="box-part text-center">
                       <i class="text-success fas fa-laptop fa-3x mb-3" aria-hidden="true"></i>
                       <div class="title">
                           <h4>Company overview</h4>
                       </div>
                       <div class="text mb-3">
                           <span>We are a trusted Digital Engineering and Enterprise Modernization partner, combining deep technical expertise and industry experience to help our clients anticipate what’s next and answer questions before they’re asked.</span>
                       </div>
                       <a class="btn btn-outline-success" href="#">Learn More</a>
                   </div>
               </div>
               <div class="col-md-4 col-sm-4 mb-2">
                   <div class="box-part text-center">
                       <i class="text-danger fas fa-box-open fa-3x mb-3" aria-hidden="true"></i>
                       <div class="title">
                           <h4>Services</h4>
                       </div>
                       <div class="text mb-3">
                           <span>Partner with Persistent to create a consistently relevant strategy that accelerates your processes and keeps up with new and emerging waves of technologies at every turn.</span>
                       </div>
                       <a class="btn btn-outline-danger" href="#">Learn More</a>
                   </div>
               </div>
           </div>
       </div>
   </section>
   </main>
   <div class="container">
    <div class="row">
      
        <div class="col-6 col-md">
            <h5>Insights</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Cool stuff</a></li>
                <li><a class="text-muted" href="#">Newsletters</a></li>
                <li><a class="text-muted" href="#">Blogs</a></li>
                <li><a class="text-muted" href="#">Others</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Investors</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Financial Results</a></li>
                <li><a class="text-muted" href="#">Reports</a></li>
                <li><a class="text-muted" href="#">Shares</a></li>
                <li><a class="text-muted" href="#">Communication</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Team</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
                <li><a class="text-muted" href="#">Privacy</a></li>
                <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</div>

