/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  body{
      min-height:100vh;
  }
  .sticky-footer {
    position:sticky;
    top:100%;   
}
/*.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    height: 70px;
    background-color: rgb(121, 45, 165);
    text-align: center;
    color: white;
}

.selector1{
    background-image: url("src/assets/img1.jpg");
}
.selector2{
    background-image: url("src/assets/img2.jpg");
}*/
